.grid {
	margin-top:30px;
	list-style: none;
	text-align: center;
	/*background-color: #fff;*/
}

.grid figure {
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
}

.grid figure img {
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	bottom: 0;
	opacity: 0;
	background: #7e7e7e; /* ЦВЕТ ФОНА ОПИСАНИЯ (#77CCDD - на всякий, как меню) */
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.grid figcaption h4 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	color: #fff;
	text-decoration: none;
}

.grid figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .grid figure:hover img,
.grid figure.cs-hover img {
	-webkit-transform: translateY(-28px);
	-moz-transform: translateY(-28px);
	-ms-transform: translateY(-28px);
	transform: translateY(-28px);}

.grid figcaption {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .grid figure:hover figcaption,
.grid figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


@media (min-width: 320px) {
.grid figcaption {padding: 3px;}
.grid figcaption {height: 56px;}
.grid figcaption h4 {font-size: 11px;}
}

@media (min-width: 480px){
.grid figcaption {padding: 5px;}
.grid figcaption {height: 60px;}
.grid figcaption h4 {font-size: 15px;}
}

@media (min-width: 768px) and (max-width: 959px) {
.grid figcaption {padding: 10px 5px;}
.grid figcaption h4 {font-size: 12px;}
}

@media (min-width: 1200px){
.grid figcaption h4 {font-size: 16px;}
.grid figcaption {height: 80px;}
.grid .col-lg-2 {float: none; display: inline-block;}

.no-touch .grid figure:hover img,
.grid figure.cs-hover img {
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);}
}