/*==========  Селекторы  ==========*/

/* RESET STYLES */
*, html, ul, li {margin:0; padding:0;}

html, body {
	width: 100%;
	overflow-x: hidden;
}

body {
	height: 100%;
    font-family: 'Trebuchet MS', Calibri, Arial, sans-serif;
    color: #7e7e7e;
    margin: 0;
    padding: 0;
    position: relative;
    background: rgba(126,126,126,0.1);
}

footer {
    bottom: 0;
    width: 100%;
	background: #3E4156;
	overflow: hidden;
}

footer a, footer p {
	color: #fff;
	text-decoration: none;
	margin: 0;
}

footer a:active, footer a:focus, footer a:visited, footer a:hover {
	outline: none;
	text-decoration: underline;
	color: #fff;
}

/*ЛОГОТИП*/
#logo {
	position: absolute;
	z-index: 20;
	width: 100px;
	top: 50px;
	left: 10px;
	-webkit-animation-duration: 1s;
	animation-delay: 1s;
}

#logo img {width: 100%;}

/*#logo img {}*/

/* ИКОНКИ МЕНЮ */
.fa {margin-right: 6px;}

.panel-footer .fa {margin: 0;}

/* ПОЛОЖЕНИЕ Z ДЛЯ КНОПОК СЛАЙДЕРА */
.carousel-indicators {z-index: 1;}

/* ОТСТУП ОТ СЛАЙДЕРА */
.margin-bottom {margin-bottom: 15px;}

.footer-text, .footer-text-2 {
	font-size: 11px;
	white-space: nowrap;}

/*КАРТИНКИ В FOOTER*/
.lyceum-img, .wezom-img {
	width: 100%;
    height: auto;
}

/*ПРЕДЗАГРУЗКА*/
.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.loader_inner {
	background-image: url("../images/preloader3.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

/*СТЕНА ПУБЛИКАЦИЙ (ГЛАВНАЯ)*/
.wall .panel-body {padding: 15px 30px;}

.wall h1 {
	margin: 0;
	padding: 13px 0px;
}

.wall p {
	margin: 10px 0px;
	color: #7e7e7e;}

.wall a {
	margin: 10px;
	font-size: 18px;
}

.wall span {color: #7e7e7e;}

.wall a:active, .wall a:focus, .wall a:visited, .wall a:focus, .wall a {color: #7e7e7e;}

.wall a:hover, .wall a span:hover, .wall:hover > a {
	color:#333333;
	text-decoration: none;	
}

.wall .news-img-show {margin-top: 10px;}

.wall .news-img-show img {width: 100%;}

/*.wall .news-img-list img {width: 30%;}*/

.wall .news-footer {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/*ГАЛЕРЕЯ*/
.gallery-item a {margin: 0;}

.gallery-item h4 {margin-bottom: 0;}

.gallery-item {
	width: 100%;
	padding: 20px;
	text-align: center;
}

.gallery-item img {
	width: 100%;
	border-radius: 5px;
}

#lightgallery a {
	width: 100%;
}

#lightgallery img {
	border-radius: 5px;
	margin-bottom: 20px;
}

#lightgallery img, #gallery img {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

#lightgallery img:hover, #gallery img:hover, #lightgallery img:focus, #gallery img:focus, #lightgallery img:active, #gallery img:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.columns {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}

/* ЭФФЕКТ ДЛЯ ГАЛЕРЕИ*/
.grow-rotate {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: transform;
            transition-property: transform;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
/*    box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
}

.grow-rotate:hover,b .grow-rotate:focus, .grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(3deg);
            transform: scale(1.1) rotate(3deg);
}

.grow-rotate img:hover,b .grow-rotate img:focus, .grow-rotate img:active {
	box-shadow: 10px 10px 0px -4px rgba(0,0,0,0.5);
	    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}
/* хром, сафари */ 
.element::-webkit-scrollbar {width: 0;} 

/* ie 10+ */ 
.element {-ms-overflow-style: none;} 

/* фф (свойство больше не работает, других способов тоже нет)*/ 
.element {overflow: -moz-scrollbars-none;}

/*АНИМАЦИЯ ЛОГОТИПА*/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/****************** МЕДИА-ЗАПРОСЫ ******************/

@media (min-width: 1200px) {
.col-padding {
	padding-left: 5px;
	padding-right: 5px;}

.lyceum-img {margin-top: 15%;}

.wezom-img {
	width: auto;
	height: 100px;
	max-height: 100px;}

.footer-text {font-size: 14px;}

.footer-text-2 {
	font-size: 14px;
	margin-top: 6%;
	text-align: center;
    padding-left: 20%;}

/*ОБНУЛЕНИЕ КЛАССОВ ВО ИЗБЕЖАНИЕ ПОЛОМОК*/
.col-xs-pull-9 {right: 0;}
.col-xs-push-3 {left: 0;}
}

@media (min-width: 992px) and (max-width: 1199px) {

/* ОТСТУП ВНУТРИ КОНТЕЙНЕРА С БАННЕРАМИ */
.margin-float {
	margin: 0px auto 0px auto;
	float: none;}

.col-padding {
	padding-left: 0px;
	padding-right: 1px;}

.footer-text-2 {
	margin-top: 6%;
	text-align: center;
	padding-left: 28%;}

.lyceum-img {margin-top: 10%;}

.wezom-img {
	width: auto;
	height: 76px;
	max-height: 76px;}

/*ОБНУЛЕНИЕ КЛАССОВ ВО ИЗБЕЖАНИЕ ПОЛОМОК*/
.col-xs-pull-9 {right: 0;}
.col-xs-push-3 {left: 0;}
}

@media (min-width: 768px) {
#logo-2 {display: none;}
}

@media (min-width: 768px) and (max-width: 991px) {

.footer-text {font-size: 10px;}

.footer-text-2 {
	font-size: 10px;
	margin-top: 8%;
	text-align: center;
	margin-left: -20%;}

.lyceum-img {margin-top: 20%;}

.wezom-img {
	width: auto;
	height: 72px;
	max-height: 72px;
	margin-left: -7%;}

.col-padding {
	padding-left: 3px;
	padding-right: 3px;}

/*ОБНУЛЕНИЕ КЛАССОВ ВО ИЗБЕЖАНИЕ ПОЛОМОК*/
.col-xs-pull-9 {right: 0;}
.col-xs-push-3 {left: 0;}
}

@media (max-width: 767px) {

#logo {
	width: 50px;
	position: absolute;
	z-index: 20;
	top: 7px;
	right: 10px;
	left: inherit;}

#logo-2 img {
	height: 50px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	-webkit-filter: invert(1);
	filter: invert(1);}

h1 {font-size: 30px;
	text-align: center;}

/* ПОЛЯ ВНУТРИ КОЛОНОК В FOOTER */
.col-padding {
	padding-left: 3px;
	padding-right: 3px;}

/* ВЫСОТА КОЛОНОК В FOOTER */
.col-height {height: 100px;}

.lyceum-img {margin-top: 20%;}

.wezom-img {
	display: block;
	margin-top: 5%;}

.footer-text, .footer-text-2 {margin-top: 1%;}

footer {padding-bottom: 5px;}
}



/* ПРОМЕЖУТОЧНЫЕ (ДЛЯ ГОРИЗОНТАЛЬНОГО ПОЛОЖЕНИЯ) */
@media (min-width: 450px) and (max-width: 767px) {
	
.col-height {height: 80px;}

.lyceum-img {
	width: auto;
	max-height: 65px;
	margin-top: 5%;}

.wezom-img {margin-top: 0;}

footer.text-right {text-align: center;}

footer {padding-bottom: 0;}
}



@media (min-width: 520px) and (max-width: 767px) {

.col-height {height: 100px;}

.footer-text {font-size: 14px;}

.footer-text-2 {font-size: 14px;}
}
