/*ТЕМЫ ОФОРМЛЕНИЯ САЙТА*/

/*Backgrounds*/
.bg1 {background: #70ca63;}
.bg2 {background: #3498DB;}
.bg3 {background: #485BBD;}
.bg4 {background: #e7604a;}
.bg5 {background: #333843;}
.bg6 {background: #624e89;}
.bg7 {background: #578ebe;}
.bg8 {background: #384b5f;}
.bg9 {background: #fff;}
/*Backgrounds Close*/

/*ТЕМА 1*/
.menu2 li a:hover, .menu2 li:hover > a, .thm1 .grid figcaption, .thm1 .menu {background: #70ca63;}
.thm1 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}


/*ТЕМА 2*/
.menu2 li a:hover, .menu2 li:hover > a, .thm2 .grid figcaption, .thm2 .menu {background: #3498DB;}
.thm2 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}

/*ТЕМА 3*/
.menu2 li a:hover, .menu2 li:hover > a, .thm3 .grid figcaption, .thm3 .menu {background: #485BBD;}
.thm3 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}

/*ТЕМА 4*/
.menu2 li a:hover, .menu2 li:hover > a, .thm4 .grid figcaption, .thm4 .menu {background: #e7604a;}
.thm4 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}

/*ТЕМА 5*/
.menu2 li a:hover, .menu2 li:hover > a, .thm5 .grid figcaption, .thm5 .menu {background: #333843;}
.thm5 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}

/*ТЕМА 6*/
.menu2 li a:hover, .menu2 li:hover > a, .thm6 .grid figcaption, .thm6 .menu {background: #624e89;}
.thm6 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}

/*ТЕМА 7*/
.menu2 li a:hover, .menu2 li:hover > a, .thm7 .grid figcaption, .thm7 .menu {background: #578ebe;}
.thm7 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}

/*ТЕМА 8*/
.menu2 li a:hover, .menu2 li:hover > a, .thm8 .grid figcaption, .thm8 .menu {background: #384b5f;}
.thm8 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}

/*ТЕМА 9*/
.thm9 .menu li a {color: #7e7e7e;}
.menu2 li a:hover, .menu2 li:hover > a, .thm9 .grid figcaption, .thm9 .menu {background: #fff;}
.thm9 {background: scroll url(/new-design/images/patterns/diamond-upholstery.png) rgba(126,126,126,0.1) top left repeat;}