/*==========  Селекторы  ==========*/

header {width: 100%;}

body {
	width: 100%;
    font-family: 'Trebuchet MS', Calibri, Arial, sans-serif;
    color:#fff;
    margin:0;
    padding:0;}

/* ИКОНКИ МЕНЮ */
.fa{margin-right: 3px;}

/* ПОЛОЖЕНИЕ Z ДЛЯ КНОПОК СЛАЙДЕРА */
.carousel-indicators {z-index: 1;}

.col-md-3, .col-md-6 {/*background: red;*/
color: black;}


@media (max-width: 767px) {
	.carousel-indicators li {
		width: 20px;
		height: 20px;}
	
	.carousel-indicators .active {
		width: 22px;
		height: 22px;}

	.carousel-caption {padding-bottom: 30px;}

	.carousel-caption h1 {font-size: 29px;}
}