/*==========  Селекторы  ==========*/

header {width: 100%;}

body {
	width: 100%;
    font-family: 'Trebuchet MS', Calibri, Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

footer {
    bottom: 0;
    width: 100%;
	margin-top: 20px;
	background: #3E4156;
	overflow: hidden;
}

footer a, footer p {
	color: #fff;
	text-decoration: none;
	margin: 0;
}

footer a:active, footer a:focus, footer a:visited, footer a:hover {
	outline: none;
	text-decoration: underline;
	color: #fff;
}

/* ИКОНКИ МЕНЮ */
.fa{margin-right: 6px;}

/* ПОЛОЖЕНИЕ Z ДЛЯ КНОПОК СЛАЙДЕРА */
.carousel-indicators {z-index: 1;}

/* ОТСТУП ОТ СЛАЙДЕРА */
.margin-bottom {margin-bottom: 10px;}

.footer-text, .footer-text-2 {margin-top: 6%;}

/*КАРТИНКИ В FOOTER*/
.lyceum-img, .wezom-img, .wezom-img-2 {
	width: 100%;
    height: auto;
	/*opacity: 0.5;*/
}

.wezom-img-2 {display: none;}

wbr {display: inline-block;}



@media (min-width: 1200px) {
.col-padding {
	padding-left: 5px;
	padding-right: 5px;
}

.lyceum-img {margin-top: 15%;}

.footer-text {
	margin-top: 1%;}

.footer-text-2 {
	margin-top: 7%;}

/*ОБНУЛЕНИЕ КЛАССОВ ВО ИЗБЕЖАНИЕ ПОЛОМОК*/
.col-xs-pull-9 {right: 0;}
.col-xs-push-3 {left: 0;}
}



@media (min-width: 992px) and (max-width: 1199px) {

/* ОТСТУП ВНУТРИ КОНТЕЙНЕРА С БАННЕРАМИ */
.margin-float {
	margin: 0px auto 0px auto;
	float: none;}

.col-padding {
	padding-left: 0px;
	padding-right: 1px;}

.footer-text {
	font-size: 12px;
	margin-top: 7%;}

.footer-text-2 {
	font-size: 12px;
	margin-top: 15%;}

.lyceum-img {margin-top: 5%;}

.wezom-img {margin-top: 10%;}

/*ОБНУЛЕНИЕ КЛАССОВ ВО ИЗБЕЖАНИЕ ПОЛОМОК*/
.col-xs-pull-9 {right: 0;}
.col-xs-push-3 {left: 0;}
}



@media (min-width: 768px) and (max-width: 991px) {

.footer-text {
	font-size: 9px;
	margin-top: 7%;}

.footer-text-2 {
	font-size: 9px;
	margin-top: 15%;}

.lyceum-img {margin-top: 5%;}

.wezom-img {margin-top: 10%;}  /*ПРОВЕРОЧКА*/

.col-padding {
	padding-left: 3px;
	padding-right: 3px;}

/*ОБНУЛЕНИЕ КЛАССОВ ВО ИЗБЕЖАНИЕ ПОЛОМОК*/
.col-xs-pull-9 {right: 0;}
.col-xs-push-3 {left: 0;}
}



@media (max-width: 767px) {

/* СЛАЙДЕР НА МОБИЛЕ */
.carousel-indicators li {
	width: 20px;
	height: 20px;}

.carousel-indicators .active {
	width: 22px;
	height: 22px;}

.carousel-caption {padding-bottom: 30px;}

.carousel-caption {
	right: 4%;
	left: 4%;}

/* ОБНУЛЕНИЕ ПОЛЕЙ ВОКРУГ ВЕРТИКАЛЬНОГО МОБИЛЬНОГО МЕНЮ */
.reset-padding {padding: 0;}

/* ПОЛЯ ВНУТРИ КОЛОНОК В FOOTER */
.col-padding {
	padding-left: 3px;
	padding-right: 3px;}

/* ВЫСОТА КОЛОНОК В FOOTER */
.col-height {height: 100px;}

.lyceum-img {margin-top: 20%;}

.wezom-img {display: none;}

.wezom-img-2 {
	display: block;
	margin-top: 5%;}

.footer-text {
	margin-top: 1%;
	font-size: 12px;}

.footer-text-2 {
	margin-top: 0;
	font-size: 12px;}

.text-center {text-align: left;}

footer {padding-bottom: 5px;}
}



/* ПРОМЕЖУТОЧНЫЕ (ДЛЯ ГОРИЗОНТАЛЬНОГО ПОЛОЖЕНИЯ) */
@media (min-width: 450px) and (max-width: 767px) {
	
.col-height {height: 80px;}

.lyceum-img {
	width: auto;
	max-height: 65px;
	margin-top: 5%;}

.wezom-img-2 {margin-top: 0;}

.text-right {text-align: center;}

footer {padding-bottom: 0;}
}

@media (min-width: 520px) and (max-width: 767px) {

.col-height {height: 100px;}

.footer-text {
	font-size: 14px;}

.footer-text-2 {
	font-size: 14px;}
}
