/* RESET STYLES */
*, html, ul, li { margin:0; padding:0 }

.menu2 li a:active, .menu2 li a:focus, .menu2 li a:visited,
.menu li a:active, .menu li a:focus, .menu li a:visited, a:focus {
	outline: none;
	text-decoration:none;
	color: #fff;
	background:#3E4156 !important;
}

.menu2 li a:hover, .menu2 li:hover > a,
.menu li a:hover, .menu li:hover > a {
	color:#fff;
	background:#9CA3DA !important;
}

*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.menu2, .menu{
	display:block;
	width:100%;
	position:fixed;
	z-index:92;
	background:#3E4156;
	text-align: center;
	/*text-shadow: 0 0.5px 0px rgba(0,0,0,.4);*/
}

.menu2 p {
	display: inline-block;
	z-index:100;
	float: none;
	font-weight:900;
	font-size: 16px;
	padding:11px;
	margin: 0;
	background:#9CA3DA;
	width: 100%;
/*	border: 2px solid #3E4156;
	border-bottom:none;*/
}

/*.border {

}*/

.menu2 li, .menu li{
	display: inline-block;
	z-index:100;
	float: none;
}

.menu2 li+li, .menu li+li{margin-left: 0px !important;}

.menu2 li a, .menu li a {
	font-weight:600;
	font-size: 16px;
	text-decoration:none;
	padding:11px;
	display:block;
	color:#fff;
	border-radius: 0px;

/* ПЛАВНОСТЬ ИЗМЕНЕНИЯ ЦВЕТА ПРИ НАВЕДЕНИИ */
-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}

.mobile-menu{
	display:none;
	width:100%;
	padding:11px;
	background:#3E4156;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
}

.mobile-menu:hover{
	background:#3E4156;
	color:#fff;
	text-decoration:none;
}

@media (min-width: 768px) {

.menu2{
	width:auto;
	position:inherit;
	z-index:10;
	text-align: left;}

.menu2 li{
	z-index:90;
	width:100%;
	float: none;
	border-top: 1px solid #797979}
}

@media (min-width: 768px) and (max-width: 979px) {

.menu2 ul, .menu ul {top:37px;}
.menu2 li a, .menu li a{font-size:12px;padding:8px;}
}

@media (max-width: 767px) {

.menu2 p {display: none;}

.menu2, .menu{
	display:none;
	position: relative;}

.menu2{text-align: center;}

.mobile-menu{display:block;}

.menu2 li, .menu li {
	display:block;
	margin:0;}

.menu2 li a, .menu li a {
	background:#fff;
	color:#797979;
	border-top:1px solid #e0e0e0;
	border-left:3px solid #fff;
}

.menu2 li a:active,.menu2 li a:focus,.menu2 li a:visited,
.menu li a:active, .menu li a:visited {
	outline: none;
	text-decoration:none;
	color: #797979;
	background:#fff !important;
}

.menu2 li a:hover, .menu2 li:hover > a,
.menu li a:hover, .menu li:hover > a{
	color:#797979;
	background:#f0f0f0 !important;
	border-left:3px solid #9CA3DA;}
}