/* RESET STYLES */
/**, html, ul, li { margin:0; padding:0 }

.menu2 li a:active, .menu2 li a:focus, .menu2 li a:visited {
	outline: none;
	text-decoration:none;
	color: #fff;
	background:#3E4156 !important;
}*/

/*.menu2 li a:hover, .menu2 li:hover > a{color:#fff;
background:#9CA3DA !important;}*/




/*.menu2{
	display:block;

	position:fixed;
	z-index:20;
	background:#3E4156;
	text-align: center;
}*/

/*.menu2 li{
	display: inline-block;
	z-index:100;
	width:100%;
	float: none;
}*/

/*.menu2 li+li{margin-left: 0px !important;}*/

/*.menu2 li a {
	font-weight:600;
	font-size: 16px;
	text-decoration:none;
	padding:11px;
	display:block;
	color:#fff;
	border-radius: 0px;*/

/* ПЛАВНОСТЬ ИЗМЕНЕНИЯ ЦВЕТА ПРИ НАВЕДЕНИИ */
/*-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
}*/

/*.mobile-menu2{
	display:none;
	width:100%;
	padding:11px;
	background:#3E4156;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
}

.mobile-menu2:hover{
	background:#3E4156;
	color:#fff;
	text-decoration:none;
}*/

@media (min-width: 768px) and (max-width: 979px) {

/*.menu2 ul {top:37px;}
.menu2 li a{font-size:12px;padding:8px;}*/
}

@media (max-width: 767px) {

/*.menu2{
	display:none;
	position: relative;
	text-align: center;
}

.mobile-menu2{display:block;}

.menu2 li{
	display:block;
	margin:0;}

.menu2 li a {
	background:#fff;
	color:#797979;
	border-top:1px solid #e0e0e0;
	border-left:3px solid #fff;
}*/

/*.menu2 li a:active,.menu2 li a:focus,.menu2 li a:visited{
	outline: none;
	text-decoration:none;
	color: #797979;
	background:#fff !important;
}

.menu2 li a:hover, .menu2 li:hover > a{
	color:#797979;
	background:#f0f0f0 !important;
	border-left:3px solid #9CA3DA;
}*/
}